DBUSER = "Place your database user here"
DBPASSWORD = "Place your database password here"
CLUSTERNAME = "Place your clusters name here"
APPNAME = "Place your apps name here"
URI = "Place your mongodb atlas connection string here"